html{
    font-size:20px;
    
}
main{
    width: 75%;
    margin: auto;
}

section{
    min-height: 40vh;
}
p{
    font-size: 1.5rem;
    
    height: 150px;overflow: auto;
    line-height: 2.0;
}
section:nth-of-type(odd){
    border-left:solid ;
    border-right:  solid;
    border-width: 2em;
}

section:nth-of-type(even){
    border-top:  solid ;
    border-bottom: solid;
    border-width: 2em;
}

h2{
   margin: 11px 0 11px 0;
   padding-bottom: 8px;
   border-bottom: 3px ridge;
    
}

